<div class="content-sub-container">
    <p>turma works!</p>

    <table>
        <th>id</th>
        <th>ano</th>
        <th>identificação</th>
        <th>ano letivo</th>
        <th></th>
        <th></th>
        <th></th>

        <tr *ngFor="let turma of turmas">
            <td>{{turma.id}}</td>
            <td>{{turma.serie}}</td>
            <td>{{turma.identificacao}}</td>
            <td>{{descobrirAnoLetivo(turma.ano_id)}}</td>
            <td><button [routerLink]="['gerenciar-turma-component', turma.id]">Gerenciar</button></td>
            <td><button (click)="iniciarModalEditar(modalEditar, turma)">Editar</button></td>
            <td><button (click)="excluir(turma.id)">Excluir</button></td>
        </tr>
    </table>

    <button (click)="iniciarModalCadastrar(modalCadastrar)">Criar nova turma</button>

    <app-modal #modalCadastrar>
        <app-cadastrar-turma></app-cadastrar-turma>
    </app-modal>

    <app-modal #modalEditar>
        <app-editar-turma [turmaSelecionada]="turmaSelecionada" (atualizacaoConcluida)="onResolvido(modalEditar)"></app-editar-turma>
    </app-modal>
</div>