<div class="content-sub-container">
    <div class="grid-container">
        <div id="item1">
            <p>Nome da atividade</p>
            <input type="text" [(ngModel)]="atividade.descricao" />
        </div>

        <div id="item2">
            <p>Valor da atividade</p>
            <input type="number" [(ngModel)]="atividade.valor" />
        </div>

        <div id="item3">
            <p>numero de questões</p>
            <input type="number" [(ngModel)]="atividade.numero_questoes" />
        </div>

        <div id="item4">
            <p>Data de entrega</p>
            <input type="date" (change)="setDate(inputDate.value)" #inputDate />
        </div>
    </div>

    <button (click)="criarAtividade()">Cofirmar e adicionar questões</button>
</div>