<div class="content-sub-container">
    <div>
        <h3>Adicionar questão</h3>

        <table>
            <th>Id</th>
            <th>Descricao Questão</th>
            <th></th>
            <th></th>

            <tr *ngFor="let questao of questoes">
                <td colspan="2"><div><label>Comando da questão: </label><input type="textarea" [(ngModel)]="questao.descricao"/><p>Valor: {{questao.valor}}pts</p></div></td>
                <td *ngIf="criteriosAtividade != undefined && criteriosAtividade.length > 0">
                    <div *ngFor="let criterio of obterCriteriosQuestao(questao.id)">
                    {{criterio.descricao}}</div>
                </td>
                <td><button (click)="abrirModal(modalAssociarCriterioQuestao, questao.id)">Adicionar Criterios</button></td>
            </tr>
        </table>
    </div>

    <button (click)="confirmarMudancas()">Confirmar</button>

    <app-modal #modalAssociarCriterioQuestao>
        <app-associar-criterio-questao [idQuestao]="questaoSelecionada" [criterios]="criterios" [idAtividade]="idAtividade" (associacaoConcluida)="modalAssociarCriterioQuestao.Fechar()"></app-associar-criterio-questao>
    </app-modal>
</div>