<div class="content-sub-container" *ngIf="turma != undefined && anosLetivos != undefined">
    <p>Editaando {{turma.serie}} "{{turma.identificacao}}"</p>

    <div><span>serie</span><input type="text" [(ngModel)]="turma.serie" /></div>
    <div><span>Identificação</span><input type="text" [(ngModel)]="turma.identificacao" /></div>
    <div>
        <span>ano letivo</span>
        <select [(ngModel)]="turma.ano_id" (change)="anoLetivoSelecionado($event)">
            <option *ngFor="let anoLetivo of anosLetivos" [value]="anoLetivo.id">{{anoLetivo.ano}}</option>
        </select>

        <button (click)="atualizar()">Atualizar ano letivo</button>
    </div>
</div>