<p>listar-alunos-atividades works! id atividade selecionada {{idAtividadeSelecionada}}</p>


<table *ngIf="alunos != undefined">
    <th>id</th>
    <th>nome</th>
    <th>turma</th>
    <th></th>

    <tr *ngFor="let aluno of alunos">
        <td>{{aluno.id}}</td>
        <td>{{aluno.nome}}</td>
        <td>{{obterTurma(aluno.id)}}</td>
        <td><button (click)="abrirModalCadastrarCorrecao(cadastrarCorrecao, aluno.id)">{{verificaAcaoBotaoCorrecao(aluno.id)}}</button></td>
    </tr>
</table>

<app-modal #cadastrarCorrecao>
    <app-cadastrar-correcao [correcao]="correcaoAtivada"></app-cadastrar-correcao>
</app-modal>