<h2>Atividades</h2>
<div class="content-sub-container">
    <table>
        <th>id</th>
        <th>Atividade</th>
        <th>Criação</th>
        <th>Entrega</th>
        <th>Valor</th>
        <th></th>
        <th></th>
        <th></th>

        <tr *ngFor="let atividade of atividades">
            <td>{{atividade.id}}</td>
            <td>{{atividade.descricao}}</td>
            <td>{{atividade.data_inicio}}</td>
            <td>{{atividade.data_fim}}</td>
            <td>{{atividade.valor}}</td>
            <td><button [routerLink]="['gerenciar', atividade.id]">Gerenciar</button></td>
            <td><button (click)="abrirModal(modalAtribuirAtividade, 'Atribuindo atividade às turmas', atividade.id)">Atribuir atividade</button></td>
            <td><button (click)="Excluir(atividade.id)">Excluir</button></td>
        </tr>
    </table>

    <button (click)="abrirModal(modalCadastrar, 'cadastrando nova atividade', idAtividadeSelecionada)">Cadastrar nova atividade</button>

    <app-modal #modalCadastrar>
        <app-cadastrar-atividade (cadastroConcluido)="fecharModal(modalCadastrar)"></app-cadastrar-atividade>
    </app-modal>

    <app-modal #modalAtribuirAtividade (eventoFechar)="fecharModal(undefined)">
        <app-atribuir-atividade [idAtividadeSelecionada]="idAtividadeSelecionada" [eventoFechar]="eventoFechar" (associacaoConcluida)="fecharModal(modalAtribuirAtividade)"></app-atribuir-atividade>
    </app-modal>
</div>