<p>gerenciar-criterio works!</p>

<div>
    <p>Descricao</p>
    <input type="text" [(ngModel)]="item_descricao"/>

    <p>Ordem</p>
    <input type="number" min="1" max="{{criterio_atual.pontuacao}}" [(ngModel)]="item_ordem"/>
</div>
<button (click)="CriarCriterio()">Adicionar</button>

<table>
    <th>id</th>
    <th>Descricao</th>
    <th>Ordem</th>
    <th></th>
    
    <tr *ngFor="let item of itens_criterio">
        <td>{{item.id}}</td>
        <td>{{item.descricao}}</td>
        <td>{{item.ordem}}</td>
        <td><button (click)="ExcluirItem(item.id)">Excluir</button></td>
    </tr>
</table>
