<div class="content-sub-container">
    <div>
        <p>Descrição</p>
        <input type="text" [(ngModel)]="criterio.descricao" />

        <div>
            <label>Escala Likert</label>
            <input type="checkbox" name="likert_scale" (change)="alterarValor($event)" />
        </div>

        <!--Criterios com valor automático-->
        <ng-content *ngIf="criterio.likert_scale">
            <label>Quantidade de itens</label><input type="number" min="2" value="2" (change)="calculaItensCriterio($event)"/>

            <div *ngFor="let itemCriterio of listaItensCriterio">
                <div>
                    <label>Valor: {{itemCriterio.valor*100}}%</label><label>Descrição</label><input type="text" [(ngModel)]="itemCriterio.descricao"/>
                </div>
            </div>
        </ng-content>

        <!--CRiterios com valor customizado-->
        <ng-content>
            <!--Aqui deve conter uma seção que permita oa usuário aidiconar os intens do critério
            bem como seu valor específico, deve conter uma lógica que faça o gerenciamento do valor, uma vez que será em porcentgem.-->
        </ng-content>

        <button (click)="criarCriterio()">Cadastrar criterio</button>
    </div>
</div>