<div class="menu-container">
  <h3>Class Manager</h3>

  <ul class="menu">
    <li><button routerLink="ano-letivo">Ano Letivo</button></li>
    <li><button routerLink="turma">Turmas</button></li>
    <li><button routerLink="aluno">Alunos</button></li>
    <li> <button routerLink="atividade">Atividades</button></li>
    <li><button routerLink="criterio">Criterios</button></li>
    <li><button routerLink="correcao">Correção</button></li>
  </ul>
</div>

<div class="content-container">
  <router-outlet></router-outlet>
</div>