<div class="content-sub-container" *ngIf="anosLetivos!=undefined">
    <div><span>serie</span><input type="text" [(ngModel)]="turma.serie" /></div>
    <div><span>Identificação</span><input type="text" [(ngModel)]="turma.identificacao" /></div>
    <div>
        <span>ano letivo</span>
        <select (change)="anoLetivoSelecionado($event)">
            <option *ngFor="let anoLetivo of anosLetivos" [value]="anoLetivo.id">{{anoLetivo.ano}}</option>
        </select>

        <button (click)="Cadastrar()">Cadastrar novo ano letivo</button>
    </div>
</div>