<div class="content-sub-container">
    <p>gerenciar-criterio works!</p>

    <div>
        <p>Descricao</p>
        <input type="text" [(ngModel)]="item_descricao" />

        <p>Ordem</p>
    </div>
    <button (click)="criarCriterio()">Adicionar</button>

    <table>
        <th>id</th>
        <th>Descricao</th>
        <th>Ordem</th>
        <th></th>

        <tr *ngFor="let item of itens_criterio">
            <td>{{item.id}}</td>
            <td>{{item.descricao}}</td>
            <td>{{item.valor}}</td>
            <td><button (click)="excluirItem(item.valor)">Excluir</button></td>
        </tr>
    </table>

</div>