<div class="content-sub-container">
    <p>criterio works!</p>

    <table>
        <th>id</th>
        <th>Descrição</th>
        <th>Pontuacao do item</th>
        <th>Likert</th>
        <th></th>
        <th></th>

        <tr *ngFor="let criterio of criterios">
            <td>{{criterio.id}}</td>
            <td>{{criterio.descricao}}</td>
            <td>{{criterio.pontuacao}}</td>
            <td>{{ObterTipoDeEscala(criterio.isLikert)}}</td>
            <button [routerLink]="['gerenciar', criterio.id]">Gerenciar</button>
            <button (click)="ExcluirCriterio(criterio.id)">Excluir</button>
        </tr>
    </table>

    <button [routerLink]="['cadastrar']">Adicionar criterio</button>

    <router-outlet></router-outlet>
</div>