<div class="content-sub-container">
    <p>criterio works!</p>

    <table>
        <th>id</th>
        <th>Descrição</th>
        <th>Pontuacao do item</th>
        <th>Likert</th>
        <th></th>
        <th></th>

        <tr *ngFor="let criterio of criterios">
            <td>{{criterio.id}}</td>
            <td>{{criterio.descricao}}</td>
            <td>
                <div *ngFor="let itemCriterio of listarItensCriterios(criterio.id)">
                    <span>{{itemCriterio.descricao}} - {{itemCriterio.valor*100}}%</span>
                </div>
            </td>
            <td>{{ObterTipoDeEscala(criterio.isLikert)}}</td>
            <button>Editar</button>
            <button (click)="ExcluirCriterio(criterio.id)">Excluir</button>
        </tr>
    </table>

    <button (click)="iniciarModalCadastrar(modalCadastrar)">Adicionar criterio</button>

    <app-modal #modalCadastrar>
        <app-cadastrar-criterio (cadastroConcluido)="onResolvido(modalCadastrar)"></app-cadastrar-criterio>
    </app-modal>

    <app-modal>
        <app-editar-criterio></app-editar-criterio>
    </app-modal>
</div>