<div class="content-sub-container">
    <p>gerenciar-turma works!</p>

    <p>Adicionar alunos para a turma {{turma.serie}} {{turma.identificacao}}</p>

    <table>
        <th>id</th>
        <th>Nome do Aluno</th>
        <th>Turma</th>
        <th></th>

        <tr *ngFor="let aluno of alunos">
            <td>{{aluno.id}}</td>
            <td>{{aluno.nome}}</td>
            <td>{{turma.serie + turma.identificacao}}</td>
            <td><button (click)="excluirRegistroDaTurma(aluno.id)">Remover</button></td>
        </tr>
    </table>

    <button (click)="iniciarModalAdicionarAlunoTurma(modalAdicionarAlunoTurma)">Adicionar alunos</button>

    <app-modal #modalAdicionarAlunoTurma>
        <app-adicionar-aluno-turma [idTurma]="idTurma" (associacaoConcluida)="onResolvido(modalAdicionarAlunoTurma)"></app-adicionar-aluno-turma>
    </app-modal>
</div>